@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

.navbar {
  width: 100vw;
  height: 7vh;
  background-color: white;
  display: flex;
  position: fixed;
  margin-bottom: 100px;
}

.logo {
  width: 10%;
  display: flex;
  place-items: center;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: #213547;
}

ul {
  display: flex;
  place-items: center;
  width: 90%;
  height: 100%;
  padding: 0;
}
ul li {
  list-style: none;
  display: flex;
}

ul li a {
  color: #213547;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

ul li a:hover {
  color: #747bff;
}

@media (prefers-color-scheme: light) {
  .navbar {
    color: white;
    background-color: #213547;
  }
  .logo {
    color: white;
  }
  ul li a {
    color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
